
include ../Make.config
PROJ_SRC=$(ROOT_SRC)/libmisc
PROJ_BUILD=$(ROOT_BUILD)/libmisc

# Project Paths
MODULES=misc
MODULES_INCLUDE=$(addprefix -I$(PROJ_SRC)/include/, $(MODULES))
MODULES_SRC=$(addprefix $(PROJ_SRC)/src/, $(MODULES))
MODULE_TARGETS=$(addprefix $(PROJ_BUILD)/, $(MODULES))

## External Paths
EXTERNAL_INCLUDE=

## Libs
LIBS=

## Additional config per target

T1_MODULES=misc
T1_DIR=$(addprefix src/, $(T1_MODULES))
T1_SRC=$(foreach dir, $(T1_DIR), $(wildcard $(dir)/*.c))
T1_TMP=$(subst src/,/, $(T1_SRC))
T1_TMP1=$(addprefix $(PROJ_BUILD),$(T1_TMP))
T1_OBJ=$(patsubst %.c, %.o, $(T1_TMP1))

# Macros
vpath %.c $(MODULES_SRC)
define make-goal
$1/%.o: %.c
	$(CC) $(MODULES_INCLUDE) $(EXTERNAL_INCLUDE) -c $$< -o $$@
endef

