
PROJ_SRC=${ROOT_C_SRC}/proj/dtp/dtpsock
PROJ_BUILD=${ROOT_C_BUILD}/proj/dtp/dtpsock

# Project Paths
SRC_DIRS=main/src test/src/common test/src/client test/src/server
INC_DIRS=main/include main/include/dtpsock test/include test/include/common
INC=$(addprefix -I$(PROJ_SRC)/, $(INC_DIRS))
SRC=$(addprefix $(PROJ_SRC)/, $(SRC_DIRS))
TGTS=$(addprefix $(PROJ_BUILD)/, $(SRC_DIRS))

## External Paths
EXTERNAL_INC=-I${ROOT_C_SRC}/core/main/include/core -I${ROOT_C_SRC}/core/main/include/mgr -I${ROOT_C_SRC}/core/main/include/util -I${ROOT_C_SRC}/core/main/include/ds

## Libs
EXTERNAL_LIBINC=-L${ROOT_C_BUILD}/core -L${ROOT_C_BUILD}/proj/dtp/dtpsock
LIBS=$(EXTERNAL_LIBINC) -lcore -ldtpsock -lsctp -lpthread -lssl -lcrypto

## Additional config per target
T1_SRC_DIRS=main/src
T1_SRC=$(foreach dir, $(T1_SRC_DIRS), $(wildcard $(dir)/*.c))
T1_TMP=$(addprefix $(PROJ_BUILD)/,$(T1_SRC))
T1_OBJ=$(patsubst %.c, %.o, $(T1_TMP))

T2_SRC_DIRS=test/src test/src/common test/src/client
T2_SRC=$(foreach dir, $(T2_SRC_DIRS), $(wildcard $(dir)/*.c))
T2_TMP=$(addprefix $(PROJ_BUILD)/,$(T2_SRC))
T2_OBJ=$(patsubst %.c, %.o, $(T2_TMP))

T3_SRC_DIRS=test/src test/src/common test/src/server
T3_SRC=$(foreach dir, $(T3_SRC_DIRS), $(wildcard $(dir)/*.c))
T3_TMP=$(addprefix $(PROJ_BUILD)/,$(T3_SRC))
T3_OBJ=$(patsubst %.c, %.o, $(T3_TMP))

# Macros
vpath %.c $(SRC)
define make-goal
$1/%.o: %.c
	$(CC) $(INC) $(EXTERNAL_INC) -c $$< -o $$@
endef
