
PROJ_SRC=${ROOT_C_SRC}/core
PROJ_BUILD=${ROOT_C_BUILD}/core

# Project Paths
SRC_DIRS=main/src main/src/ds main/src/mgr main/src/util test/src
INC_DIRS=main/include main/include/core main/include/ds main/include/mgr main/include/util
INC=$(addprefix -I$(PROJ_SRC)/, $(INC_DIRS))
SRC=$(addprefix $(PROJ_SRC)/, $(SRC_DIRS))
TGTS=$(addprefix $(PROJ_BUILD)/, $(SRC_DIRS))

## External Paths
EXTERNAL_INC=

## Libs
EXTERNAL_LIBINC=-L${ROOT_C_BUILD}/core
LIBS=$(EXTERNAL_LIBINC) -lcore

## Additional config per target

T1_SRC_DIRS=main/src main/src/ds main/src/mgr main/src/util
T1_SRC=$(foreach dir, $(T1_SRC_DIRS), $(wildcard $(dir)/*.c))
T1_TMP=$(addprefix $(PROJ_BUILD)/,$(T1_SRC))
T1_OBJ=$(patsubst %.c, %.o, $(T1_TMP))

T2_SRC_DIRS=test/src
T2_SRC=$(foreach dir, $(T2_SRC_DIRS), $(wildcard $(dir)/*.c))
T2_TMP=$(addprefix $(PROJ_BUILD)/,$(T2_SRC))
T2_OBJ=$(patsubst %.c, %.o, $(T2_TMP))

# Macros
vpath %.c $(SRC)
define make-goal
$1/%.o: %.c
	$(CC) $(INC) $(EXTERNAL_INC) -c $$< -o $$@
endef
