
include ../Make.config
PROJ_SRC=$(ROOT_SRC)/testdtp
PROJ_BUILD=$(ROOT_BUILD)/testdtp

# Project Paths
MODULES=server common client
MODULES_INCLUDE=$(addprefix -I$(PROJ_SRC)/include/, $(MODULES))
MODULES_SRC=$(addprefix $(PROJ_SRC)/src/, $(MODULES))
MODULE_TARGETS=$(addprefix $(PROJ_BUILD)/, $(MODULES))

## External Paths
DTP_SRC=$(ROOT_SRC)/libdtp
DTP_MODULES=dtp
MISC_SRC=$(ROOT_SRC)/libmisc
MISC_MODULES=misc
DTP_INCLUDE=$(addprefix -I$(DTP_SRC)/include/, $(DTP_MODULES))
MISC_INCLUDE=$(addprefix -I$(MISC_SRC)/include/, $(MISC_MODULES))
EXTERNAL_INCLUDE=$(DTP_INCLUDE) $(MISC_INCLUDE)

## Libs
DTP_LIB=$(ROOT_BUILD)/libdtp
MISC_LIB=$(ROOT_BUILD)/libmisc
LIB_FLAG=-L$(DTP_LIB) -L$(MISC_LIB)
LIBS=-lmisc -ldtp -lsctp -lpthread

## Additional config per target

T1_MODULES=client common
T1_DIR=$(addprefix src/, $(T1_MODULES))
T1_SRC=$(foreach dir, $(T1_DIR), $(wildcard $(dir)/*.c))
T1_TMP=$(subst src/,/, $(T1_SRC))
T1_TMP1=$(addprefix $(PROJ_BUILD),$(T1_TMP))
T1_OBJ=$(patsubst %.c, %.o, $(T1_TMP1))

T2_MODULES=server common
T2_DIR=$(addprefix src/, $(T2_MODULES))
T2_SRC=$(foreach dir, $(T2_DIR), $(wildcard $(dir)/*.c))
T2_TMP=$(subst src/,/, $(T2_SRC))
T2_TMP1=$(addprefix $(PROJ_BUILD),$(T2_TMP))
T2_OBJ=$(patsubst %.c, %.o, $(T2_TMP1))

# Macros
vpath %.c $(MODULES_SRC)
define make-goal
$1/%.o: %.c
	$(CC) $(MODULES_INCLUDE) $(EXTERNAL_INCLUDE) -c $$< -o $$@
endef

