
include ../Make.config
PROJ_SRC=$(ROOT_SRC)/config
PROJ_BUILD=$(ROOT_BUILD)/config

# Project Paths
MODULES=config
MODULES_INCLUDE=$(addprefix -I$(PROJ_SRC)/include/, $(MODULES))
MODULES_SRC=$(addprefix $(PROJ_SRC)/src/, $(MODULES))
MODULE_TARGETS=$(addprefix $(PROJ_BUILD)/, $(MODULES))

## External Paths
MISC_SRC=$(ROOT_SRC)/libmisc
MISC_MODULES=misc
MISC_INCLUDE=$(addprefix -I$(MISC_SRC)/include/, $(MISC_MODULES))
EXTERNAL_INCLUDE=$(MISC_INCLUDE) -I/usr/include/libxml2

## Libs
MISC_LIB=$(ROOT_BUILD)/libmisc
LIB_FLAG=-L$(MISC_LIB)
LIBS=-lmisc -lpthread -lxml2

## Additional config per target

T1_MODULES=config
T1_DIR=$(addprefix src/, $(T1_MODULES))
T1_SRC=$(foreach dir, $(T1_DIR), $(wildcard $(dir)/*.c))
T1_TMP=$(subst src/,/, $(T1_SRC))
T1_TMP1=$(addprefix $(PROJ_BUILD),$(T1_TMP))
T1_OBJ=$(patsubst %.c, %.o, $(T1_TMP1))

# Macros
vpath %.c $(MODULES_SRC)
define make-goal
$1/%.o: %.c
	$(CC) $(MODULES_INCLUDE) $(EXTERNAL_INCLUDE) -c $$< -o $$@
endef

